body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {
  .slide-in {
    opacity: 1 !important;
    visibility: visible !important;
  }

  .slide-out {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: opacity 0.5s, visibility 0.5s step-end;
  }
}
